
/********************** color-palette *********************
 *
 * Primary Color: #69f0ae
 * Lighter Primary Color: #9fffe0
 * Darker Primary Color: #2bbd7e
 *
 * Accent Color: #F4511E
 * Lighter Accent Color: #FF8A65
 * Darker Accent Color: #D84315
 *
 * font opacity normal: 87%
 * font opacity light: 54%
 * font opacity disabled: 38%
 **********************************************************/

.primaryColor {
  background-color: #69f0ae;
}

.primaryLightColor {
  background-color: #9fffe0;
}

.primaryDarkColor {
  background-color: #2bbd7e;
}

.primaryContentColor {
  background-color: #EEEEEE;
}

.accentColor {
  background-color: #F4511E;
}

.accentLightColor {
  background-color: #FF8A65;
}

.accentDarkColor {
  background-color: #D84315;
}

.darkFontNormal {
  opacity: 0.87;
  color: #000000;
}

.darkFontLight {
  opacity: 0.54;
  color: #000000;
}

.darkFontDisabled {
  opacity: 0.38;
  color: #000000;
}

.lightFontNormal {
  opacity: 100%;
  color: #FFFFFF;
}
