
/********************** color-palette *********************
 *
 * Primary Color: #69f0ae
 * Lighter Primary Color: #9fffe0
 * Darker Primary Color: #2bbd7e
 *
 * Accent Color: #4f5b62
 * Lighter Accent Color: #263238
 * Darker Accent Color: #000a12
 *
 * font opacity normal: 87%
 * font opacity light: 54%
 * font opacity disabled: 38%
 **********************************************************/

$primaryColor: #69f0ae;
$primaryLightColor: #9fffe0;
$primaryDarkColor: #2bbd7e;
$primaryContentColor: #EEEEEE;
$accentColor: #4f5b62;
$accentLightColor: #263238;
$accentDarkColor: #000a12;

.primaryColor {
  background-color: $primaryColor;
}

.primaryLightColor {
  background-color: $primaryLightColor;
}

.primaryDarkColor {
  background-color: $primaryDarkColor;
}

.primaryContentColor {
  background-color: $primaryContentColor;
}

.accentColor {
  background-color: $accentColor;
}

.accentLightColor {
  background-color: $accentLightColor;
}

.accentDarkColor {
  background-color: $accentDarkColor;
}

.darkFontNormal {
  opacity: 0.87;
  color: #000000;
}

.darkFontLight {
  opacity: 0.54;
  color: #000000;
}

.darkFontDisabled {
  opacity: 0.38;
  color: #000000;
}

.lightFontNormal {
  opacity: 100%;
  color: #FFFFFF;
}
