@import "grid/_grid";
@import "_design";

nav ul {
  position: relative;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

nav li {
  position: relative;
  float: left;
  list-style: none;
  margin-right: 8px;
  @media screen and (min-width: $max_small) {
    margin-right: 16px;
  }
  @media screen and (min-width: $max_middle) {
    margin-right: 24px;
  }
}
header {
  padding-top: 10px;
  padding-bottom: 10px;
}

header a {
  text-decoration: none;
}

header svg path {
  stroke: #4f5b62;
}
