@import "_screen_widths";
@import "_padding_mixins";
@import "_cell_mixin";

/*
 * We create a 12 Col Grid
 */

$full-grid-columns: 12;
$middle-grid-columns: 8;
$small-grid-columns: 4;

* {
  box-sizing: border-box;
  position: relative;
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
}

.container {
  max-width: $max_full;
  margin-left: auto;
  margin-right: auto;
  @include _paddings;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include _paddings;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 5px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col {
  @for $index from 1 through $small-grid-columns {
    &-small-#{$index} {
      @include _cell($index, $small-grid-columns);
    }
  }
  @for $index from 1 through ($small-grid-columns - 1) {
    &-small-space-#{$index} {
      @include _cell($index, $small-grid-columns);
    }
  }
  @media screen and (min-width: $max_small) {
    @for $index from 1 through $middle-grid-columns {
      &-middle-#{$index} {
        @include _cell($index, $middle-grid-columns);
      }
    }
    @for $index from 1 through ($middle-grid-columns - 1) {
      &-middle-space-#{$index} {
        @include _cell($index, $middle-grid-columns);
      }
    }
  }
  @media screen and (min-width: $max_middle) {
    @for $index from 1 through $full-grid-columns {
      &-full-#{$index} {
        @include _cell($index, $full-grid-columns);
      }
    }
    @for $index from 1 through ($full-grid-columns - 1) {
      &-full-space-#{$index} {
        @include _cell($index, $full-grid-columns);
      }
    }
  }
}
