@mixin _paddings {
  padding-left: 8px;
  padding-right: 8px;
  @media screen and (min-width: $max_small) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media screen and (min-width: $max_middle) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
